<div class="container container-calc">
  <div class="calc-wrapper">
    <span class="calc-output" data-action="output">0</span>
    <div class="calc-btns" data-action="buttons">
      <button class="calc-btn number seven" data-type="number" type="button">7</button>
      <button class="calc-btn number eight" data-type="number" type="button">8</button>
      <button class="calc-btn number nine" data-type="number" type="button">9</button>
      <button
        class="calc-btn operator btn-orange"
        data-type="operator"
        type="button"
        data-key="plus"
      >
        +
      </button>
      <button class="calc-btn number four" data-type="number" type="button">4</button>
      <button class="calc-btn number five" data-type="number" type="button">5</button>
      <button class="calc-btn number six" data-type="number" type="button">6</button>
      <button
        class="calc-btn calc-btn minus btn-orange"
        data-type="operator"
        type="button"
        data-key="minus"
      >
        -
      </button>
      <button class="calc-btn number one" data-type="number" type="button">1</button>
      <button class="calc-btn number two" data-type="number" type="button">2</button>
      <button class="calc-btn number three" data-type="number" type="button">3</button>
      <button
        class="calc-btn operator devide btn-orange"
        data-type="operator"
        type="button"
        data-key="divide"
      >
        /
      </button>
      <button class="calc-btn number" data-type="number" type="button">.</button>
      <button class="calc-btn number" data-type="number" type="button">0</button>
      <button class="calc-btn operator" data-type="reset" type="button">C</button>
      <button
        class="calc-btn calc-btn multiply btn-orange"
        data-type="operator"
        type="button"
        data-key="multiply"
      >
        *
      </button>
      <button class="calc-btn operator equal btn-orange" data-type="equal" type="button">=</button>
    </div>
  </div>
</div>
