<div class="container container-guess">
  <div class="header-guess">
    <h2 class="title-guess">The Great</h2>
    <p class="rgb-guess"></p>
    <h2 class="title-guess">guessing game</h2>
  </div>
  <div class="guess-info">
    <button class="colors-set" type="button">New Colors</button>
    <p class="result"></p>
  </div>
  <ul class="colors-wrapper-guess">
    <li class="colors-item-guess"></li>
    <li class="colors-item-guess"></li>
    <li class="colors-item-guess"></li>
    <li class="colors-item-guess"></li>
    <li class="colors-item-guess"></li>
    <li class="colors-item-guess"></li>
  </ul>
</div>
